
/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #083b4c;
}

.container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto 30px;
}

.row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 8 - 32px);
    height: calc(100% / 8 - 32px);
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.green {
    background-color: #0bd6a1;
}

.yellow {
    background-color: #ffd166;
}

.red {
    background-color: #f0466f;
}

/* title */

.title {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 30px 0;
}
